<div class="main">
  <!--     Left Side   of the Component        -->
  <div class="lef">
    <p>vhdbfgjbjkfgbfgjbkfgbkfgklgk</p>
    <p>vhdbfgjbjkfgbfgjbkfgbkfgklgk</p>
    <p>vhdbfgjbjkfgbfgjbkfgbkfgklgk</p>
    <p>vhdbfgjbjkfgbfgjbkfgbkfgklgk</p>
    <p>vhdbfgjbjkfgbfgjbkfgbkfgklgk</p>
    <p>vhdbfgjbjkfgbfgjbkfgbkfgklgk</p>
  </div>


  <!--     Right Side   of the Component        -->
  <div class="rig">
    <div>
      <button type="button" class="but1">Category</button>
      <button type="button" class="but1">Communication</button>
      <button type="button" class="but1">Sychometric</button>
    </div>
    <div class="ques">
      <div class="col-12">
        <p class="fw-bold">1. Which of the following sentences is correct</p>
        <div>
          <input type="radio" name="box" id="one">
          <input type="radio" name="box" id="two">
          <input type="radio" name="box" id="three">
          <input type="radio" name="box" id="four">
          <label for="one" class="box first">
            <div class="course">
              <!-- <span class="circle"></span> -->
              <span class="subject"> option one </span>
            </div>
          </label>
          <label for="two" class="box second">
            <div class="course">
              <!--<span class="circle"></span> -->
              <span class="subject"> option two </span>
            </div> </label>
            <label for="three" class="box third">
              <div class="course">
                <!-- <span class="circle"></span> -->
                <span class="subject"> option three </span>
              </div>
            </label>
            <label for="four" class="box forth">
              <div class="course">
                <!-- <span class="circle"></span> -->
                <span class="subject"> option four </span>
              </div>
            </label>
          </div>
        </div>
    </div>
  </div>

</div>
